
USE MASTER 
GO
CREATE DATABASE QLKS
GO

USE [QLKS]
GO
/****** Object:  Table [dbo].[BOPHAN]    Script Date: 7/10/2020 8:14:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BOPHAN](
	[MABP] [varchar](10) NOT NULL,
	[TENBP] [nvarchar](50) NULL,
	[MOTA] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MABP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CT_HOADONDV]    Script Date: 7/10/2020 8:14:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CT_HOADONDV](
	[MAHDDV] [varchar](10) NOT NULL,
	[MADV] [varchar](10) NOT NULL,
	[SOLUONG] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHDDV] ASC,
	[MADV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CT_PHIEUNHAPDICHVU]    Script Date: 7/10/2020 8:14:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CT_PHIEUNHAPDICHVU](
	[MAPHIEUNHAP] [varchar](10) NOT NULL,
	[MADV] [varchar](10) NOT NULL,
	[SOLUONG] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAPHIEUNHAP] ASC,
	[MADV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CT_PHIEUNHAPHANG]    Script Date: 7/10/2020 8:14:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CT_PHIEUNHAPHANG](
	[MAPHIEUNHAP] [varchar](10) NOT NULL,
	[MAHANG] [varchar](10) NOT NULL,
	[SOLUONG] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAPHIEUNHAP] ASC,
	[MAHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CT_PHIEUNHAPTIENNGHI]    Script Date: 7/10/2020 8:14:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CT_PHIEUNHAPTIENNGHI](
	[MAPHIEUNHAP] [varchar](10) NOT NULL,
	[MATN] [varchar](10) NOT NULL,
	[SOLUONG] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAPHIEUNHAP] ASC,
	[MATN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DICHVU]    Script Date: 7/10/2020 8:14:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DICHVU](
	[MADV] [varchar](10) NOT NULL,
	[TENDV] [nvarchar](50) NULL,
	[DONGIA] [float] NULL,
	[MOTAKHAC] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MADV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[GOM]    Script Date: 7/10/2020 8:14:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GOM](
	[MAPHONG] [varchar](10) NOT NULL,
	[MATN] [varchar](10) NOT NULL,
	[SOLUONG] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAPHONG] ASC,
	[MATN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HANG]    Script Date: 7/10/2020 8:14:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HANG](
	[MAHANG] [varchar](10) NOT NULL,
	[MAKHO] [varchar](10) NULL,
	[TENHANG] [nvarchar](50) NULL,
	[DONVITINH] [varchar](10) NULL,
	[GIA] [float] NULL,
	[SOLUONG] [int] NULL,
	[MOTA] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HOADONDV]    Script Date: 7/10/2020 8:14:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HOADONDV](
	[MAHDDV] [varchar](10) NOT NULL,
	[SOHDDV] [varchar](10) NULL,
	[NGAYLAP] [date] NULL,
	[MAKH] [varchar](10) NULL,
	[TONGTIEN] [int] NULL,
	[GHICHU] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHDDV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HOADONTHANHTOAN]    Script Date: 7/10/2020 8:14:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HOADONTHANHTOAN](
	[MAHDTT] [varchar](10) NOT NULL,
	[MAPHIEUTHUE] [varchar](10) NULL,
	[TONGTIENPHONG] [int] NULL,
	[TONGTIENPHAITRA] [int] NULL,
	[GHICHU] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHDTT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 7/10/2020 8:14:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKH] [varchar](10) NOT NULL,
	[TENKH] [nvarchar](50) NULL,
	[SOCMND] [varchar](10) NULL,
	[DIACHI] [nvarchar](50) NULL,
	[DIENTHOAI] [varchar](11) NULL,
	[QUOCTICH] [nvarchar](50) NULL,
	[SOHC] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KHO]    Script Date: 7/10/2020 8:14:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHO](
	[MAKHO] [varchar](10) NOT NULL,
	[TENKHO] [nvarchar](50) NULL,
	[VITRI] [nvarchar](50) NULL,
	[MOTA] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAKHO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHACUNGCAP]    Script Date: 7/10/2020 8:14:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHACUNGCAP](
	[MANHACC] [varchar](10) NOT NULL,
	[TENNHACC] [nvarchar](50) NULL,
	[SODT] [varchar](11) NULL,
	[DIACHI] [nvarchar](50) NULL,
	[TENNGUOILH] [nvarchar](50) NULL,
	[THONGTINKHAC] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MANHACC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 7/10/2020 8:14:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [varchar](10) NOT NULL,
	[TENNV] [nvarchar](50) NULL,
	[NGAYSINH] [date] NULL,
	[GIOITINH] [nvarchar](10) NULL,
	[DIACHI] [nvarchar](50) NULL,
	[SODT] [varchar](11) NULL,
	[SOCMND] [varchar](10) NULL,
	[MABP] [varchar](10) NULL,
	[NGAYVAOLAM] [date] NULL,
	[LUONG] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHIEUNHAPDICHVU]    Script Date: 7/10/2020 8:14:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHIEUNHAPDICHVU](
	[MAPHIEUNHAP] [varchar](10) NOT NULL,
	[MANHACC] [varchar](10) NULL,
	[THOIGIANNHAP] [date] NULL,
	[NHANVIENNHAP] [varchar](10) NULL,
	[TONGSOTIEN] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAPHIEUNHAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHIEUNHAPHANG]    Script Date: 7/10/2020 8:14:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHIEUNHAPHANG](
	[MAPHIEUNHAP] [varchar](10) NOT NULL,
	[MANHACC] [varchar](10) NULL,
	[THOIGIANNHAP] [date] NULL,
	[NHANVIENNHAP] [varchar](10) NULL,
	[TONGSOTIEN] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAPHIEUNHAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHIEUNHAPTIENNGHI]    Script Date: 7/10/2020 8:14:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHIEUNHAPTIENNGHI](
	[MAPHIEUNHAP] [varchar](10) NOT NULL,
	[MANHACC] [varchar](10) NULL,
	[THOIGIANNHAP] [date] NULL,
	[NHANVIENNHAP] [varchar](10) NULL,
	[TONGSOTIEN] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAPHIEUNHAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHIEUTHUE]    Script Date: 7/10/2020 8:14:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHIEUTHUE](
	[MAPHIEUTHUE] [varchar](10) NOT NULL,
	[NGAYLAP] [date] NULL,
	[MAKH] [varchar](10) NULL,
	[SOPHONG] [int] NULL,
	[NGAYDANGKY] [datetime] NULL,
	[SONGUOI] [int] NULL,
	[NGAYDEN] [datetime] NULL,
	[NGAYDI] [datetime] NULL,
	[NVLAP] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAPHIEUTHUE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHONG]    Script Date: 7/10/2020 8:14:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHONG](
	[MAPHONG] [varchar](10) NOT NULL,
	[SOPHONG] [int] NULL,
	[LOAIPHONG] [varchar](5) NULL,
	[DIENTICH] [float] NULL,
	[TINHTRANG] [varchar](10) NULL,
	[DONGIA] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAPHONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[THUEPHONG]    Script Date: 7/10/2020 8:14:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[THUEPHONG](
	[MAPHIEUTHUE] [varchar](10) NOT NULL,
	[MAPHONG] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MAPHIEUTHUE] ASC,
	[MAPHONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TIENNHGI]    Script Date: 7/10/2020 8:14:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TIENNHGI](
	[MATN] [varchar](10) NOT NULL,
	[TENTN] [nvarchar](50) NULL,
	[TINHTRANGTN] [nvarchar](50) NULL,
	[SOLUONGHIENCO] [int] NULL,
	[GIA] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MATN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[BOPHAN] ([MABP], [TENBP], [MOTA]) VALUES (N'MBP01', N'Lễ tân', N'Đón tiếp và thanh toán hóa đơn khách hàng')
INSERT [dbo].[BOPHAN] ([MABP], [TENBP], [MOTA]) VALUES (N'MBP02', N'Tạp vụ', N'Dọn dẹp và cung cấp theo nhu cầu khách hàng')
INSERT [dbo].[BOPHAN] ([MABP], [TENBP], [MOTA]) VALUES (N'MBP03', N'Nhà hàng', N'Cung cấp đồ ăn uống')
INSERT [dbo].[CT_HOADONDV] ([MAHDDV], [MADV], [SOLUONG]) VALUES (N'MHDDV01', N'DV01', 1)
INSERT [dbo].[CT_HOADONDV] ([MAHDDV], [MADV], [SOLUONG]) VALUES (N'MHDDV01', N'DV02', 1)
INSERT [dbo].[CT_HOADONDV] ([MAHDDV], [MADV], [SOLUONG]) VALUES (N'MHDDV01', N'DV03', 5)
INSERT [dbo].[CT_PHIEUNHAPDICHVU] ([MAPHIEUNHAP], [MADV], [SOLUONG]) VALUES (N'MPN01', N'DV01', 20)
INSERT [dbo].[CT_PHIEUNHAPDICHVU] ([MAPHIEUNHAP], [MADV], [SOLUONG]) VALUES (N'MPN01', N'DV02', 30)
INSERT [dbo].[CT_PHIEUNHAPDICHVU] ([MAPHIEUNHAP], [MADV], [SOLUONG]) VALUES (N'MPN02', N'DV01', 20)
INSERT [dbo].[CT_PHIEUNHAPHANG] ([MAPHIEUNHAP], [MAHANG], [SOLUONG]) VALUES (N'MPN01', N'MH01', 20)
INSERT [dbo].[CT_PHIEUNHAPHANG] ([MAPHIEUNHAP], [MAHANG], [SOLUONG]) VALUES (N'MPN01', N'MH02', 30)
INSERT [dbo].[CT_PHIEUNHAPHANG] ([MAPHIEUNHAP], [MAHANG], [SOLUONG]) VALUES (N'MPN01', N'MH03', 20)
INSERT [dbo].[CT_PHIEUNHAPTIENNGHI] ([MAPHIEUNHAP], [MATN], [SOLUONG]) VALUES (N'MPN01', N'TN01', 10)
INSERT [dbo].[CT_PHIEUNHAPTIENNGHI] ([MAPHIEUNHAP], [MATN], [SOLUONG]) VALUES (N'MPN01', N'TN02', 10)
INSERT [dbo].[CT_PHIEUNHAPTIENNGHI] ([MAPHIEUNHAP], [MATN], [SOLUONG]) VALUES (N'MPN01', N'TN07', 10)
INSERT [dbo].[DICHVU] ([MADV], [TENDV], [DONGIA], [MOTAKHAC]) VALUES (N'DV01', N'Nhà hàng', 2000000, NULL)
INSERT [dbo].[DICHVU] ([MADV], [TENDV], [DONGIA], [MOTAKHAC]) VALUES (N'DV02', N'Quầy bar', 1000000, NULL)
INSERT [dbo].[DICHVU] ([MADV], [TENDV], [DONGIA], [MOTAKHAC]) VALUES (N'DV03', N'Spa', 500000, NULL)
INSERT [dbo].[GOM] ([MAPHONG], [MATN], [SOLUONG]) VALUES (N'1', N'TN01', 2)
INSERT [dbo].[GOM] ([MAPHONG], [MATN], [SOLUONG]) VALUES (N'1', N'TN02', 2)
INSERT [dbo].[GOM] ([MAPHONG], [MATN], [SOLUONG]) VALUES (N'1', N'TN03', 2)
INSERT [dbo].[HANG] ([MAHANG], [MAKHO], [TENHANG], [DONVITINH], [GIA], [SOLUONG], [MOTA]) VALUES (N'MH01', N'MK01', N'BÀN CHẢI, ĐÁNH RĂNG', N'BO', 20000, 40, NULL)
INSERT [dbo].[HANG] ([MAHANG], [MAKHO], [TENHANG], [DONVITINH], [GIA], [SOLUONG], [MOTA]) VALUES (N'MH02', N'MK01', N'KEM ĐÁNH RĂNG ', N'CAI', 30000, 50, NULL)
INSERT [dbo].[HANG] ([MAHANG], [MAKHO], [TENHANG], [DONVITINH], [GIA], [SOLUONG], [MOTA]) VALUES (N'MH03', N'MK01', N'DAO CẠO- KEM CẠO RÂU', N'VND', 25000, 80, NULL)
INSERT [dbo].[HOADONDV] ([MAHDDV], [SOHDDV], [NGAYLAP], [MAKH], [TONGTIEN], [GHICHU]) VALUES (N'MHDDV01', N'2', CAST(N'2012-03-06' AS Date), N'KH01', 5500000, N'KHÔNG')
INSERT [dbo].[HOADONDV] ([MAHDDV], [SOHDDV], [NGAYLAP], [MAKH], [TONGTIEN], [GHICHU]) VALUES (N'MHDDV02', N'2', CAST(N'2012-03-06' AS Date), N'KH02', 3000000, N'KHÔNG')
INSERT [dbo].[HOADONDV] ([MAHDDV], [SOHDDV], [NGAYLAP], [MAKH], [TONGTIEN], [GHICHU]) VALUES (N'MHDDV03', N'1', CAST(N'2012-03-06' AS Date), N'KH03', 6000000, N'KHÔNG')
INSERT [dbo].[HOADONTHANHTOAN] ([MAHDTT], [MAPHIEUTHUE], [TONGTIENPHONG], [TONGTIENPHAITRA], [GHICHU]) VALUES (N'MHDTT01', N'MPT01', 15800000, 18400000, N'KHÔNG')
INSERT [dbo].[HOADONTHANHTOAN] ([MAHDTT], [MAPHIEUTHUE], [TONGTIENPHONG], [TONGTIENPHAITRA], [GHICHU]) VALUES (N'MHDTT02', N'MPT02', 1000000, 1500000, N'KHÔNG')
INSERT [dbo].[HOADONTHANHTOAN] ([MAHDTT], [MAPHIEUTHUE], [TONGTIENPHONG], [TONGTIENPHAITRA], [GHICHU]) VALUES (N'MHDTT03', N'MPT03', 1400000, 6900000, N'KHÔNG')
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [SOCMND], [DIACHI], [DIENTHOAI], [QUOCTICH], [SOHC]) VALUES (N'KH01', N'Hoàng Văn Nam', N'9836423', N'Hà nội', N'012345', N'VN', N'12345')
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [SOCMND], [DIACHI], [DIENTHOAI], [QUOCTICH], [SOHC]) VALUES (N'KH02', N'Nguyễn An Tâm', N'9876543', N'Lâm Đồng', N'013245', N'VN', N'15432')
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [SOCMND], [DIACHI], [DIENTHOAI], [QUOCTICH], [SOHC]) VALUES (N'KH03', N'Hà Đắc Lâm', N'9875089', N'HCM', N'098123', N'VN', N'14563')
INSERT [dbo].[KHO] ([MAKHO], [TENKHO], [VITRI], [MOTA]) VALUES (N'MK01', N'KHOKS', N'1', N'Nơi chưa đồ dùng của khách sạn')
INSERT [dbo].[NHACUNGCAP] ([MANHACC], [TENNHACC], [SODT], [DIACHI], [TENNGUOILH], [THONGTINKHAC]) VALUES (N'NCC01', N'ABC Bakery', N'0918393389', N'111 Lê Văn Việt', N'Phạm Thành An', NULL)
INSERT [dbo].[NHACUNGCAP] ([MANHACC], [TENNHACC], [SODT], [DIACHI], [TENNGUOILH], [THONGTINKHAC]) VALUES (N'NCC02', N'May Nha Be', N'0345345266', N'92 Võ Văn Ngân', N'Trần Minh Hằng', NULL)
INSERT [dbo].[NHACUNGCAP] ([MANHACC], [TENNHACC], [SODT], [DIACHI], [TENNGUOILH], [THONGTINKHAC]) VALUES (N'NCC03', N'Chinsu', N'0354592918', N'582 Phan Văn Trị', N'Nguyễn Minh Thư', NULL)
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [NGAYSINH], [GIOITINH], [DIACHI], [SODT], [SOCMND], [MABP], [NGAYVAOLAM], [LUONG]) VALUES (N'NV01', N'Nguyễn Thành Nhân', CAST(N'1990-06-03' AS Date), N'nam', N'Bình định', N'0123456', N'2134567', N'MBP02', CAST(N'2010-03-20' AS Date), 1000000)
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [NGAYSINH], [GIOITINH], [DIACHI], [SODT], [SOCMND], [MABP], [NGAYVAOLAM], [LUONG]) VALUES (N'NV02', N'Nguyễn Trường An', CAST(N'1995-06-30' AS Date), N'nam', N'hcm', N'0123456', N'2356310', N'MBP04', CAST(N'2020-03-02' AS Date), 8000000)
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [NGAYSINH], [GIOITINH], [DIACHI], [SODT], [SOCMND], [MABP], [NGAYVAOLAM], [LUONG]) VALUES (N'NV03', N'Nguyễn Thị LAn Anh', CAST(N'1995-12-21' AS Date), N'nu', N'hcm', N'0126453', N'2346541', N'MBP01', CAST(N'2010-03-20' AS Date), 8000000)
INSERT [dbo].[PHIEUNHAPDICHVU] ([MAPHIEUNHAP], [MANHACC], [THOIGIANNHAP], [NHANVIENNHAP], [TONGSOTIEN]) VALUES (N'MPN01', N'NCC01', CAST(N'2020-03-20' AS Date), N'NV02', 70000000)
INSERT [dbo].[PHIEUNHAPDICHVU] ([MAPHIEUNHAP], [MANHACC], [THOIGIANNHAP], [NHANVIENNHAP], [TONGSOTIEN]) VALUES (N'MPN02', N'NCC05', CAST(N'2020-02-21' AS Date), N'NV04', 42000001)
INSERT [dbo].[PHIEUNHAPDICHVU] ([MAPHIEUNHAP], [MANHACC], [THOIGIANNHAP], [NHANVIENNHAP], [TONGSOTIEN]) VALUES (N'MPN03', N'NCC06', CAST(N'2020-03-30' AS Date), N'NV06', 280000000)
INSERT [dbo].[PHIEUNHAPHANG] ([MAPHIEUNHAP], [MANHACC], [THOIGIANNHAP], [NHANVIENNHAP], [TONGSOTIEN]) VALUES (N'MPN01', N'NCC01', CAST(N'2020-03-02' AS Date), N'NV02', 1166001)
INSERT [dbo].[PHIEUNHAPHANG] ([MAPHIEUNHAP], [MANHACC], [THOIGIANNHAP], [NHANVIENNHAP], [TONGSOTIEN]) VALUES (N'MPN02', N'NCC04', CAST(N'2020-03-01' AS Date), N'NV04', 2546000)
INSERT [dbo].[PHIEUNHAPHANG] ([MAPHIEUNHAP], [MANHACC], [THOIGIANNHAP], [NHANVIENNHAP], [TONGSOTIEN]) VALUES (N'MPN03', N'NCC10', CAST(N'2020-02-02' AS Date), N'NV08', 1166002)
INSERT [dbo].[PHIEUNHAPTIENNGHI] ([MAPHIEUNHAP], [MANHACC], [THOIGIANNHAP], [NHANVIENNHAP], [TONGSOTIEN]) VALUES (N'MPN01', N'NCC01', CAST(N'2020-03-02' AS Date), N'NV02', 62000000)
INSERT [dbo].[PHIEUNHAPTIENNGHI] ([MAPHIEUNHAP], [MANHACC], [THOIGIANNHAP], [NHANVIENNHAP], [TONGSOTIEN]) VALUES (N'MPN02', N'NCC02', CAST(N'2020-02-02' AS Date), N'NV02', 15000000)
INSERT [dbo].[PHIEUNHAPTIENNGHI] ([MAPHIEUNHAP], [MANHACC], [THOIGIANNHAP], [NHANVIENNHAP], [TONGSOTIEN]) VALUES (N'MPN03', N'NCC03', CAST(N'2020-03-21' AS Date), N'NV10', 6750000)
INSERT [dbo].[PHIEUTHUE] ([MAPHIEUTHUE], [NGAYLAP], [MAKH], [SOPHONG], [NGAYDANGKY], [SONGUOI], [NGAYDEN], [NGAYDI], [NVLAP]) VALUES (N'MPT01', CAST(N'2020-02-02' AS Date), N'KH10', 3, CAST(N'2020-02-02 00:00:00.000' AS DateTime), 3, CAST(N'2020-02-02 00:00:00.000' AS DateTime), CAST(N'2020-04-21 11:12:13.000' AS DateTime), N'NV03')
INSERT [dbo].[PHIEUTHUE] ([MAPHIEUTHUE], [NGAYLAP], [MAKH], [SOPHONG], [NGAYDANGKY], [SONGUOI], [NGAYDEN], [NGAYDI], [NVLAP]) VALUES (N'MPT02', CAST(N'2020-02-02' AS Date), N'KH07', 1, CAST(N'2020-02-02 00:00:00.000' AS DateTime), 1, CAST(N'2020-03-02 00:00:00.000' AS DateTime), CAST(N'2020-03-07 00:00:00.000' AS DateTime), N'NV05')
INSERT [dbo].[PHIEUTHUE] ([MAPHIEUTHUE], [NGAYLAP], [MAKH], [SOPHONG], [NGAYDANGKY], [SONGUOI], [NGAYDEN], [NGAYDI], [NVLAP]) VALUES (N'MPT03', CAST(N'2020-02-02' AS Date), N'KH01', 1, CAST(N'2020-02-02 00:00:00.000' AS DateTime), 1, CAST(N'2020-02-02 00:00:00.000' AS DateTime), CAST(N'2020-02-09 00:00:00.000' AS DateTime), N'NV07')
INSERT [dbo].[PHONG] ([MAPHONG], [SOPHONG], [LOAIPHONG], [DIENTICH], [TINHTRANG], [DONGIA]) VALUES (N'1', 101, N'STD', 30, N'TRONG', 200000)
INSERT [dbo].[PHONG] ([MAPHONG], [SOPHONG], [LOAIPHONG], [DIENTICH], [TINHTRANG], [DONGIA]) VALUES (N'10', 110, N'STD', 30, N'TRONG', 200000)
INSERT [dbo].[PHONG] ([MAPHONG], [SOPHONG], [LOAIPHONG], [DIENTICH], [TINHTRANG], [DONGIA]) VALUES (N'11', 201, N'STD', 40, N'TRONG', 250000)
INSERT [dbo].[THUEPHONG] ([MAPHIEUTHUE], [MAPHONG]) VALUES (N'MPT01', N'1')
INSERT [dbo].[THUEPHONG] ([MAPHIEUTHUE], [MAPHONG]) VALUES (N'MPT02', N'1')
INSERT [dbo].[THUEPHONG] ([MAPHIEUTHUE], [MAPHONG]) VALUES (N'MPT03', N'4')
INSERT [dbo].[TIENNHGI] ([MATN], [TENTN], [TINHTRANGTN], [SOLUONGHIENCO], [GIA]) VALUES (N'TN01', N'AUDIBLE KHÓI BÁO ĐỘNG', N'TỐT', 55, 200000)
INSERT [dbo].[TIENNHGI] ([MATN], [TENTN], [TINHTRANGTN], [SOLUONGHIENCO], [GIA]) VALUES (N'TN02', N'ĐIỀU HÒA ', N'TỐT', 84, 3000000)
INSERT [dbo].[TIENNHGI] ([MATN], [TENTN], [TINHTRANGTN], [SOLUONGHIENCO], [GIA]) VALUES (N'TN03', N'TV LED/CÁP', N'TỐT ', 45, 2500000)
ALTER TABLE [dbo].[CT_HOADONDV]  WITH CHECK ADD FOREIGN KEY([MAHDDV])
REFERENCES [dbo].[HOADONDV] ([MAHDDV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CT_HOADONDV]  WITH CHECK ADD FOREIGN KEY([MADV])
REFERENCES [dbo].[DICHVU] ([MADV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CT_PHIEUNHAPDICHVU]  WITH CHECK ADD FOREIGN KEY([MAPHIEUNHAP])
REFERENCES [dbo].[PHIEUNHAPDICHVU] ([MAPHIEUNHAP])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CT_PHIEUNHAPDICHVU]  WITH CHECK ADD FOREIGN KEY([MADV])
REFERENCES [dbo].[DICHVU] ([MADV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CT_PHIEUNHAPHANG]  WITH CHECK ADD FOREIGN KEY([MAHANG])
REFERENCES [dbo].[HANG] ([MAHANG])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CT_PHIEUNHAPHANG]  WITH CHECK ADD FOREIGN KEY([MAPHIEUNHAP])
REFERENCES [dbo].[PHIEUNHAPHANG] ([MAPHIEUNHAP])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CT_PHIEUNHAPTIENNGHI]  WITH CHECK ADD FOREIGN KEY([MAPHIEUNHAP])
REFERENCES [dbo].[PHIEUNHAPTIENNGHI] ([MAPHIEUNHAP])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CT_PHIEUNHAPTIENNGHI]  WITH CHECK ADD FOREIGN KEY([MATN])
REFERENCES [dbo].[TIENNHGI] ([MATN])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[GOM]  WITH CHECK ADD FOREIGN KEY([MAPHONG])
REFERENCES [dbo].[PHONG] ([MAPHONG])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[GOM]  WITH CHECK ADD FOREIGN KEY([MATN])
REFERENCES [dbo].[TIENNHGI] ([MATN])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[HANG]  WITH CHECK ADD FOREIGN KEY([MAKHO])
REFERENCES [dbo].[KHO] ([MAKHO])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[HOADONDV]  WITH CHECK ADD FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[HOADONTHANHTOAN]  WITH CHECK ADD FOREIGN KEY([MAPHIEUTHUE])
REFERENCES [dbo].[PHIEUTHUE] ([MAPHIEUTHUE])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD FOREIGN KEY([MABP])
REFERENCES [dbo].[BOPHAN] ([MABP])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[PHIEUNHAPDICHVU]  WITH CHECK ADD FOREIGN KEY([MANHACC])
REFERENCES [dbo].[NHACUNGCAP] ([MANHACC])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[PHIEUNHAPDICHVU]  WITH CHECK ADD FOREIGN KEY([NHANVIENNHAP])
REFERENCES [dbo].[NHANVIEN] ([MANV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[PHIEUNHAPHANG]  WITH CHECK ADD FOREIGN KEY([MANHACC])
REFERENCES [dbo].[NHACUNGCAP] ([MANHACC])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[PHIEUNHAPHANG]  WITH CHECK ADD FOREIGN KEY([NHANVIENNHAP])
REFERENCES [dbo].[NHANVIEN] ([MANV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[PHIEUNHAPTIENNGHI]  WITH CHECK ADD FOREIGN KEY([MANHACC])
REFERENCES [dbo].[NHACUNGCAP] ([MANHACC])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[PHIEUNHAPTIENNGHI]  WITH CHECK ADD FOREIGN KEY([NHANVIENNHAP])
REFERENCES [dbo].[NHANVIEN] ([MANV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[PHIEUTHUE]  WITH CHECK ADD FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[PHIEUTHUE]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUTHUE_NHANVIEN] FOREIGN KEY([NVLAP])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[PHIEUTHUE] CHECK CONSTRAINT [FK_PHIEUTHUE_NHANVIEN]
GO
ALTER TABLE [dbo].[THUEPHONG]  WITH CHECK ADD FOREIGN KEY([MAPHIEUTHUE])
REFERENCES [dbo].[PHIEUTHUE] ([MAPHIEUTHUE])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[THUEPHONG]  WITH CHECK ADD FOREIGN KEY([MAPHONG])
REFERENCES [dbo].[PHONG] ([MAPHONG])
ON UPDATE CASCADE
GO
/****** Object:  StoredProcedure [dbo].[TONGTIENDICHVU]    Script Date: 7/10/2020 8:14:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[TONGTIENDICHVU]
AS
BEGIN

SELECT CTDV.MAPHIEUNHAP, SUM(CTDV.SOLUONG*DONGIA) AS TONGTIEN
FROM DICHVU DV,CT_PHIEUNHAPDICHVU CTDV
WHERE DV.MADV= CTDV.MADV

GROUP BY CTDV.MAPHIEUNHAP
ORDER BY 1 

END
GO
/****** Object:  StoredProcedure [dbo].[TONGTIENHDDV]    Script Date: 7/10/2020 8:14:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[TONGTIENHDDV]

AS
BEGIN

SELECT MAHDDV, SUM(DONGIA* HDDV.SOLUONG) AS TONGTIENDICHVU

FROM CT_HOADONDV HDDV,DICHVU DV

WHERE HDDV.MADV=DV.MADV

GROUP BY MAHDDV

ORDER BY 1

END
GO
/****** Object:  StoredProcedure [dbo].[TONGTIENHDTT]    Script Date: 7/10/2020 8:14:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[TONGTIENHDTT]
AS
BEGIN

SELECT PT.MAPHIEUTHUE,KH.MAKH, TONGTIEN, HDDV.NGAYLAP
FROM PHIEUTHUE PT, KHACHHANG KH, HOADONDV HDDV
WHERE PT.MAKH=KH.MAKH AND HDDV.MAKH=KH.MAKH

END
GO
/****** Object:  StoredProcedure [dbo].[tongtienphong]    Script Date: 7/10/2020 8:14:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[tongtienphong]
as
begin 
select c.MAPHIEUTHUE,sum(a.DONGIA*(day(c.NGAYDI)-day(c.NGAYDEN))) as gia
from PHONG a,THUEPHONG b, PHIEUTHUE c, HOADONTHANHTOAN hdtt
where a.MAPHONG=b.MAPHONG and b.MAPHIEUTHUE=c.MAPHIEUTHUE and hdtt.MAPHIEUTHUE= c.MAPHIEUTHUE
GROUP BY c.MAPHIEUTHUE
order by c.MAPHIEUTHUE

end
GO
/****** Object:  StoredProcedure [dbo].[TONGTIENTIENNGHI]    Script Date: 7/10/2020 8:14:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[TONGTIENTIENNGHI]
AS
BEGIN

SELECT CTTN.MAPHIEUNHAP, SUM(SOLUONG*GIA) AS TONGTIEN
FROM TIENNHGI TN,CT_PHIEUNHAPTIENNGHI CTTN
WHERE TN.MATN= CTTN.MATN	

GROUP BY CTTN.MAPHIEUNHAP
ORDER BY 1 

END
GO
/****** Object:  Trigger [dbo].[TONGTIENTHANHTOAN]    Script Date: 7/10/2020 8:14:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TONGTIENTHANHTOAN]
ON [dbo].[CT_HOADONDV]
	AFTER INSERT
	AS
	SET NOCOUNT ON
	UPDATE HOADONDV
	SET TONGTIEN = HDDV.TONGTIEN + S.TONGTIEN
	FROM HOADONDV HDDV INNER JOIN (SELECT MAHDDV,SUM(INSERTED.SOLUONG*DONGIA) AS TONGTIEN FROM INSERTED, DICHVU DV WHERE DV.MADV=INSERTED.MADV GROUP BY MAHDDV) S 
	ON S.MAHDDV=HDDV.MAHDDV
GO
/****** Object:  Trigger [dbo].[TONGTIENDVV]    Script Date: 7/10/2020 8:14:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TONGTIENDVV]
	ON [dbo].[CT_PHIEUNHAPDICHVU]
	AFTER INSERT 
	AS
	SET NOCOUNT ON 
	
	UPDATE PHIEUNHAPDICHVU
				SET TONGSOTIEN=  TONGSOTIEN + S.TONGTIEN
				FROM PHIEUNHAPDICHVU PNDV
				INNER JOIN (SELECT MAPHIEUNHAP,SUM(SOLUONG*DONGIA) AS TONGTIEN FROM INSERTED ,DICHVU DV WHERE INSERTED.MADV= DV.MADV GROUP BY MAPHIEUNHAP) S 
				ON S.MAPHIEUNHAP= PNDV.MAPHIEUNHAP
GO
/****** Object:  Trigger [dbo].[ABC]    Script Date: 7/10/2020 8:14:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[ABC]

	ON [dbo].[CT_PHIEUNHAPHANG]
	AFTER INSERT 
	AS
	SET NOCOUNT ON 
	
	UPDATE PHIEUNHAPHANG 
	SET TONGSOTIEN = TONGSOTIEN + S.TONGTIEN 
	FROM PHIEUNHAPHANG P INNER JOIN (SELECT MAPHIEUNHAP, SUM(INSERTED.SOLUONG*H.GIA) AS TONGTIEN FROM INSERTED,HANG H
				WHERE H.MAHANG= INSERTED.MAHANG
				group by MAPHIEUNHAP) S
			ON S.MAPHIEUNHAP = S.MAPHIEUNHAP	
GO
/****** Object:  Trigger [dbo].[TANGSOLUONGTN]    Script Date: 7/10/2020 8:14:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
	CREATE TRIGGER [dbo].[TANGSOLUONGTN]
	ON [dbo].[CT_PHIEUNHAPTIENNGHI]
	AFTER INSERT
	AS 
	SET NOCOUNT ON
	UPDATE TIENNHGI
	SET SOLUONGHIENCO= SOLUONGHIENCO + S.SOLUONG
	FROM TIENNHGI TN INNER JOIN
	(SELECT MATN,SUM(SOLUONG) AS SOLUONG FROM INSERTED GROUP BY MATN) S
	ON S.MATN=TN.MATN 
GO
/****** Object:  Trigger [dbo].[TONGTIENDTNN]    Script Date: 7/10/2020 8:14:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TONGTIENDTNN]
	ON [dbo].[CT_PHIEUNHAPTIENNGHI]
	AFTER INSERT 
	AS
	SET NOCOUNT ON 
	
	UPDATE PHIEUNHAPTIENNGHI
				SET TONGSOTIEN=  TONGSOTIEN + S.TONGTIEN
				FROM PHIEUNHAPTIENNGHI PNTN
				INNER JOIN (SELECT MAPHIEUNHAP,SUM(SOLUONG*GIA) AS TONGTIEN FROM INSERTED ,TIENNHGI TN WHERE INSERTED.MATN= TN.MATN GROUP BY MAPHIEUNHAP) S 
				ON S.MAPHIEUNHAP= PNTN.MAPHIEUNHAP
GO
/****** Object:  Trigger [dbo].[TIENTRA]    Script Date: 7/10/2020 8:14:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER [dbo].[TIENTRA]
ON [dbo].[HOADONDV]
AFTER INSERT
AS
 SET NOCOUNT ON

UPDATE HOADONTHANHTOAN
SET TONGTIENPHAITRA = S.TIENDV+ TONGTIENPHAITRA
FROM HOADONTHANHTOAN HDTT INNER JOIN
(SELECT PT.MAPHIEUTHUE,SUM(INSERTED.TONGTIEN) AS TIENDV
FROM KHACHHANG KH ,INSERTED ,PHIEUTHUE PT
WHERE KH.MAKH = PT.MAKH AND INSERTED.MAKH= KH.MAKH GROUP BY PT.MAPHIEUTHUE) S
ON S.MAPHIEUTHUE=HDTT.MAPHIEUTHUE
GO
/****** Object:  Trigger [dbo].[DEMNGUOI]    Script Date: 7/10/2020 8:14:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[DEMNGUOI]
ON [dbo].[THUEPHONG] 
AFTER INSERT
AS

 SET NOCOUNT ON
UPDATE PHIEUTHUE
SET SOPHONG = SOPHONG +S.DEM
FROM PHIEUTHUE PT INNER JOIN
(SELECT MAPHIEUTHUE ,COUNT(*) AS DEM FROM INSERTED  GROUP BY MAPHIEUTHUE ) S
ON PT.MAPHIEUTHUE =S.MAPHIEUTHUE
GO
/****** Object:  Trigger [dbo].[TIENPHONG]    Script Date: 7/10/2020 8:14:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TIENPHONG]
ON [dbo].[THUEPHONG]
AFTER INSERT
AS
SET NOCOUNT ON
UPDATE HOADONTHANHTOAN
	SET TONGTIENPHONG= S.TONGTIEN
	FROM HOADONTHANHTOAN HDTT INNER JOIN 
	(SELECT PT.MAPHIEUTHUE, SUM(P.DONGIA*DATEDIFF(DAY,PT.NGAYDEN,PT.NGAYDI)) AS TONGTIEN FROM PHIEUTHUE PT, THUEPHONG TP , PHONG P WHERE PT.MAPHIEUTHUE=TP.MAPHIEUTHUE 
	AND P.MAPHONG= TP.MAPHONG GROUP BY PT.MAPHIEUTHUE ) S
	ON S.MAPHIEUTHUE=HDTT.MAPHIEUTHUE
GO
